<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Drink</h5>
          <p>
            <strong>Name</strong>: {{example.name}}</p>
          <p>
          <p>
            <strong>Category</strong>: {{example.category}}</p>
          <p>
<<<<<<< Updated upstream
            <strong>Description:</strong> {{example.body}}</p>
=======
            <strong>Recipe:</strong> {{example.recipe}}</p>
>>>>>>> Stashed changes
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
